@using TravelTripProje.Models.Sınıflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "HakkimizdaListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkimizda Listesi</h2>
<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>FotoUrl</th>
        <th>Aciklama</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.ID</td>
        <td>@x.FotoUrl</td>
        <td>@x.Aciklama</td>
        <td><a href="/Admin/HakkimizdaSil/@x.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/HakkimizdaGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
    </tr>
    }
</table>

